<h1>Результат обробки</h1>
<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Первісна назва</th>
      <th>Результат обробки</th>
      <th>Висновок</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td><%= @biblio.text %></td>
      <td><%= @biblio.text %></td>
      <td><span class="success label"> Помилок не знайдено </span></td>
    </tr>
  </tbody>
</table>
