<div class="row medium-10 large-10 columns">
  <div>
    <h3>Введіть список бібліографічних описів в форму</h3>
    <%= form_for(@biblio) do |f| %>

      <%= f.file_field :txt %>
     
      <%= f.submit 'Обробка', class: 'expanded button' %>
    <% end %>
  </div>
</div>
